# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment
.env
.env.local
.env.production
backend/config/hospital_db.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp
*.tmp
*.temp
